<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DapperConnStrHNV" connectionString="Data Source=HYBRIDUCN-OANDR;Initial Catalog=BookDB;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="DapperConnStr" connectionString="Data Source=HYBRIDUCN-OANDR;Initial Catalog=BookDB;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>